{% extends 'base.html' %}
{% block content %}

   <!-- Header-->
   <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Dripping in Elegance</p>
        </div>
    </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br>

                    <p aling="justify">
                        Welcome to Cozzy Fits, where style meets sustainability, and every purchase tells a story of conscious fashion choices. As the heartbeat of our brand, we take immense pride in curating a collection of clothing brands that not only keep you on trend but also prioritize the planet we call home.
                    
                        Here at Cozzy Fits, we believe that fashion should leave a positive mark on the world. That's why we've painstakingly selected brands that share our commitment to eco-conscious practices, from using organic fabrics to embracing recycled materials. Each piece in our collection is a testament to the harmony between fashion and environmental responsibility.
                        <br>
                        What truly sets Cozzy Fits apart is the vibrant community we've built – a community that includes you. Your feedback is not just welcomed; it's cherished. We believe in the power of collective voices, and your opinions actively shape the direction of our brand. This feedback loop is at the core of our mission, creating a sense of belonging and co-creation that transcends the typical retail experience.
                        
                        But we don't stop there. Cozzy Fits is not just about what we offer; it's about what you can create. Our platform empowers you to be a designer, allowing you to bring your unique visions to life. Through a user-friendly interface, you can add your personal touch to clothing, fostering a sense of individuality in your wardrobe. This isn't just about fashion; it's about making a statement and contributing to a more sustainable future.
                        <br>
                        So, welcome to Cozzy Fits – where your style choices matter, your voice is heard, and your creativity is celebrated. Together, we're not just changing the way we dress; we're shaping the future of fashion with a conscious and community-driven approach. Join us on this exciting journey towards a wardrobe that reflects your values and a planet that thanks you for it. 
                    </p>
 
                </div>
            </center>
        </div>
    </div>

{% endblock %}